@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rozha+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
}



/* --------------------------------- Navigation bar */

nav {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #39515E;
}

.logo {
    margin-left: 10px;
    font-family: "Rozha One", serif;
    letter-spacing: 4px;
    color: #fff;
    list-style-type: none;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.burger-menu {
    color: #fff;
    display: none;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 60%;
}

.navigation-list li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}


.navigation-list li a:hover {
    color:beige;
}

/* ------------------------------ Background image */

.bg-image-1 {
  background-image: url("../images/hero.jpg");
  height: 70vh;
  width: 100%;
  margin-top: 7.5vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-2 {
  background-image: url("../images/hero.jpg");
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------------ General styling for info-sections */

.section-info {
    width: 90%;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
}

.headline {
    font-family: "Rozha One", serif;
    font-size: 5vh;
    text-align: center;
    letter-spacing: 4px;  
}

.city-area-menu button {
    font-size: 20px;
    border: none;
    margin: 10px;
    font-family: "Lora", serif;
    border-bottom-style: double;
    background-color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
}

.city-area-menu button:hover {
    color: #39515E;
}

.link-to-guide-section {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* ------------------------------ Google Maps */

.map {
    height: 40vh;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ------------------------------ About The City */

.sthlm {
    width: 80%;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
}

.norrmalm, .vasastan, .ostermalm, .djurgarden, .gamlastan, .sodermalm {
    width: 80%;
    margin: auto;
    padding-top: 10vh;
    text-align: center;
    display: none;
    
}

.gallery2 {
    width: 80%;
    margin: 20px;
    background-color: #39515E;
    border: 0.5px solid;
}

.gallery2 img {
    width: 100%;
    height: auto;
}

/* ------------------------------ Things To Do & Where to Eat */ 

.culture, .parks, .leisure, .breakfast, .lunch, .cafes, .bars, .dinner {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10vh;
    display: none;
    
}

.item-info {
    display: flex;
}

.gallery {
    margin: 20px;
    width: 80%;
    background-color: #39515E;
    border: 0.5px solid;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery-info {
  padding: 15px;
  text-align: center;
  color: #fff;
}

.gallery-info h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px;
    border-bottom: 0.5px solid #fff;

}

.eat-button {
    border: none;
    margin: 5px;
    font-family: "Lora", serif;
    background-color: #39515E;
    letter-spacing: 1px;
}

.eat-button a {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.eat-button a:hover {
    color: #ccc;
}

/* ------------------------------- Guide Tours */

.guide-tours {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.guide-tours p {
    padding-bottom: 20px;
}

.tour-button {
    border: none;
    background-color: #39515E;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px;
    font-family: "Lora", serif;
    font-size: 12px;

}

.tour-button a {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.tour-button a:hover {
    color: #ccc;
}

.tour-list {
    list-style-type: none;
}

.tour-list li a {
    text-decoration: none;
    color: #fff;
}

.tour-list li a:hover {
    color: #ccc;
}

/*------------------------------ Contact Form */

 .contact-section {
    width: 60%;
    margin: auto;
    padding-top: 15vh;
    text-align: center;
    padding-bottom: 10vh;
} 

#name , #email , #tours, #subject {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical 
}

input[type=email] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

.contact-button {
  background-color:  #39515E;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid;
  width: 25%;
  font-family: "Playfair Display" , serif;
  font-size: 18px;
  color: #fff;
}

.contact-button:hover {
    color: #ccc;
}

/* ------------------------------ Footer */ 

footer {
    width: 100%;
    height: 7.5vh;
    background-color: #39515E; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid;
}

footer div {
    color: #fff;
}

footer ul {
    display: flex;
    list-style-type: none;
}

footer ul li a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover {
    color: #ccc;
}

/* ------------------------------ Media Querys */


@media screen and (max-width:767px) {

body {
    font-size: 12px;
}
.logo {
    font-size: 12px;
}

.burger-menu {
    display: block;  
    margin-right: 10px;
}

.item-info {
    display: block;
    width: 100%;
    margin: auto;
}

.navigation-list {
    position: fixed;
    background-color: #39515E;
    top: 7.5vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    display: none;
}

.navigation-list li {
    width: 100%;
    font-size: 16px;
    margin: 10px;
    text-align: center;
}

.map {
    height: 30vh;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.city-area-menu button {
    font-size: 14px;
    font-weight: bold;
}

.contact-button {
    width: 50%;
}

}