@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rozha+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Rozha One", serif;
    letter-spacing: 2px;
    margin-bottom: 15px;
}


/* --------------------------------- Navigation bar */

nav {
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    margin-left: 20px;
    font-family: "Rozha One", serif;
    letter-spacing: 4px;
}

.burger-menu {
}

.navigation-list {
    display: flex;
    list-style-type: none;
}

.navigation-list li a {
    text-decoration: none;
    color: #000;
    margin-right: 25px;
    letter-spacing: 2.5px;
}

.navigation-list li a:hover {
    color: #9D8C7D;
}

/* ------------------------------ Background image */

.bg-image-1 {
  background-image: url("../images/sthlm-hero.jpg");
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------------ General styling for info-sections */

.section-info {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.headline {
    font-family: "Rozha One", serif;
    font-size: 5vh;
    text-align: center;
}

.city-area-menu button {
    font-size: 18px;
    border: none;
    margin: 10px;
    font-family: "Playfair Display", serif;
    border-bottom-style: double;
    background-color: #fff;
    letter-spacing: 3px;
}

.city-area-menu button:hover {
    color: #9D8C7D;
}

#map, #map2 {
    height: 50vh;
    width: 60%;
    margin: auto;
}

/* ------------------------------ About The City */

.sthlm {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.norrmalm, .vasastan, .ostermalm, .djurgarden, .gamlastan, .sodermalm {

    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    display: none;
}


/* ------------------------------ Things To Do */ 

.culture {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.culture-info {
    display: flex;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 50%;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.todo-info {
  padding: 15px;
  text-align: center;
}
/* ------------------------------ Where To Eat */ 
/* ------------------------------ Footer */ 